{% extends 'base.html' %}

{% block content %}
    <h1>Профіль: {{ user.username }}</h1>
    
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="Аватар" width="150" style="border-radius: 50%;">
    {% endif %}

    <p><strong>Повне ім'я:</strong> {{ user.get_full_name|default:"Не вказано" }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>

    

    <p><strong>Біографія:</strong></p>
    <p>{{ profile.bio|default:"Користувач ще не додав опис." }}</p>
{% endblock %}